/*
______       _____      _   
|  _  \     |  __ \    | |  
| | | |_   _| |  \/ ___| |_ 
| | | | | | | | __ / _ \ __|
| |/ /| |_| | |_\ \  __/ |_ 
|___/  \__,_|\____/\___|\__|
                            
*/

/* ----- Costanti ----- */
#define VS_FFI_FILEFLAGSMASK    0x0000003FL
#define VOS__WINDOWS32          0x00000004L
#define VFT_APP                 0x00000001L

/* ----- Versione file e prodotto ----- */
#define VER_FILEVERSION         1,0,2,0
#define VER_FILEVERSION_STR     "1.0.2.0\000\000"
#define VER_PRODUCTVERSION      1,0
#define VER_PRODUCTVERSION_STR  "1.0\000\000"

1 VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
   VALUE "CompanyName",  "3DCrypter\000\000"
   VALUE "FileDescription",  "DuGet package manager for Delphi\000\000"
   VALUE "FileVersion",  VER_FILEVERSION_STR
   VALUE "InternalName",  "DuGet\000\000"
   VALUE "LegalCopyright",  "Copyright (R) 2019 3DCrypter\000\000"
   VALUE "ProductName", "DuGet\000\000"
   VALUE "ProductVersion", VER_PRODUCTVERSION_STR
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 1033, 1252
 END
END
